<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="minCreatures" value="4"/>
    <add key="maxCreatures" value="5"/>
    <add key="SuperPowerStepsPerFood" value="20"/>
    <add key="FriendlyFire" value="false"/>
    <add key="MapWidth" value="35"/>
    <add key="MapHeight" value="15"/>
    <add key="DebugMode" value="false"/>
    <add key="PlayerDebug" value="false"/>
    <add key="GameSpeed" value="650"/> <!-- default: 650 -->
    <add key="G" value="10"/> <!--  generic movement cost -->
  </appSettings>
</configuration>